body {
    background-color: lightgray;
}

.open-menu {
    position: fixed;
    z-index: 100;
}

.menu {
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.close-button {
    text-align: right;
}

input[type=number] {
    width: 100px;
}

.lcedit-object {
    position: absolute;
    overflow: hidden;
}

.lcedit-object img {
    width: 100%;
    height: 100%;
}

.warning-text {
    display: none;
    color: red;
}

.container {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
}

.dragbox, .bg {
    position: fixed;
}

.quickSelectActive {
    border: 2px solid lime;
}

.popup {
    font-family: Lato;
    padding: 5px;
    width: 50%;
    height: 50%;
    background-color: darkslategray;
    color: white;
    position: fixed;
    z-index: 69420;
    display: block;
    top: 25%;
    left: 25%;
    overflow: auto;
    display: none;
}

.popup a {
    color: #4babdb;
}