body {
	background-color: #eee;
    text-align: center;
    color: #232323;
    font-family: Roboto, sans-serif;
}

h1 {
	font-size: 3em;
    color: #b3382c;
}

h2 {
	font-size: 1em;
}
@media (max-height: 950px) {
    #chart {
        display: none;
    }
}
@media (min-height: 950px) {
    #chart {
        display: block;
    }
}

select,input[type=text],input[type=number] {
    font-size: 1.75em;
    font-family: Roboto, sans-serif;
    margin-bottom: 1%;
    max-width: 80%
}

input[type=submit] {
    background-color: #ddd;
    font-size: 1.75em;
    font-family: Roboto, sans-serif;
}
input[type=submit]:hover {
    background-color: #c6c6c6
}

.odometer {
	font-size: 9em;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex: 3;
	text-align: center;
}

.counter {
	background-color: #ccc;
    width: 30%;
    margin: -15px 0px -15px 0px
}

.counterTitle {
    font-size: 2em;   
}

#smallCounter {
	font-size: 3.5em;
}
