.main-content {
    text-align: center;
}

#progress-container {
    height: 100px;
}

#progress-bar-background {
    height: 100px;
    fill: #ff7f00;
    fill-opacity: 50%;
}

#progress-bar {
    height: 100px;
    fill: yellow;
}

#progress-milestone {
    width: 10vw;
}