.question {
    display: block;
    background-color: #515462;
    color: #fff;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vw;
    font-family: Lato;
    margin-top: 5px;
}

.question:hover, .tab-links button:hover {
    background-color: #393939;
}

.question:after {
    content: '+';
    font-size: 2vw;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
.question.active:after {
    content: "-";
}

.answer {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: #212121;
    color: white;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.questions {
    max-height: 60%;
    overflow-y: scroll;
}
