body {
    background-color: lightgray;
    -ms-overflow-style: none; /* Microsoft Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.open-menu {
    position: fixed;
    z-index: 100;
}

.menu {
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.close-button {
    text-align: right;
}

input[type=number] {
    width: 100px;
}

.lcedit-object {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: normal;
}

.lcedit-object img {
    width: 100%;
    height: 100%;
}

.warning-text {
    display: none;
    color: red;
}

.container {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
}

.dragbox, .bg {
    position: absolute;
}

.quickSelectActive {
    border: 2px solid lime;
}

.control {
    width: 40px;
    height: 40px;
    display: block;
    margin: 2px;
}

#objectControls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#objectControls .active {
    background-color: lightblue;
}

.paginator {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}