body {
	background-color: #224;
	font-family: Lato;
	color: #fff
}

h1 {
	font-size: 30;
	color: #ffd
}

h2 {
	font-size: 28;
	color: #bbb
}

text {
	font-size: 24
}

li {
	font-size: 24;
	background-color: rgba(64, 64, 64, 0.5)
}
