body {
    background-color: #224;
    text-align: center;
    color: #fff
}
h1 {
    font-size: 60;
    font-family: Lato
}
h2 {
    font-size: 20;
    font-family: Lato
}
.odometer {
    font-size: 250;
    font-family: Roboto
}
