body {
    background-color: #43454f;
    color: #fff;
    font-family: Lato, sans-serif;
}
h2 {
    font-size: 2vw;
}
#Rules h3, #Rules li {
    font-size: 1.5vw;
}
li, h3 {
    font-size: 2.25vw;
}
a {
    color: #4babdb
}
* {box-sizing: border-box}
.tab-links {
  float: left;
  border: 1px solid #ccc;
  width: 20%;
  height: 80%;
}

.tab-links button {
  display: block;
  background-color: #515462;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-family: Lato;
  color: #fff;
  font-size: 1.5vw;
  text-align: center;
  position: relative
}
.question {
    display: block;
    background-color: #515462;
    color: #fff;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vw;
    font-family: Lato;
    margin-top: 5px;
}

.question:hover, .tab-links button:hover {
    background-color: #393939;
}
.tab-links button:active {
    background-color: #363e44;
}

.question:after {
    content: '+';
    font-size: 2vw;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
.question.active:after {
    content: "-";
}

.answer {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: #212121;
    color: white;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.content {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 80%;
  overflow-y: scroll;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.title {
    text-align: center;
    font-size: 4vw;
    animation: fadeEffect 1.5s;
}
.largeText {
    text-align: center;
    font-size: 3.25vw;
}
p {
    font-size: 1.75vw;
}
.footer {
    font-size: .75vw;
}
